@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap');
// font-family: 'Quicksand', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');
// font-family: 'Inter', sans-serif;

// 300 = light
// 400 regular
// 500 == medium
// 600 == semi-bold
// 700 == bold

/* ====== VARIÁVEIS ====== */
    // CORES
        $cor-primaria-forte: #5D04D9;
        $cor-primaria-escura_forte: #310372;
        $cor-primaria-escura: #5C0396;
        $cor-primaria-clara: #893FF1;

        $cor-preta-forte: #1C1C1C;
        $cor-preta-escuro: #282828;
        $cor-preta-claro: #404040;

        $cor-branca: #fff;

    // TIPOGRAFIA

        // headings

            h1 {
                font-family: 'Quicksand', sans-serif;
                font-weight: 700;
                font-size: 3.6rem;
            }

            h2 {
                font-family: 'Quicksand', sans-serif;
                font-weight: 600;
                font-size: 3.4rem;
            }

            h3 {
                font-family: 'Quicksand', sans-serif;
                font-weight: 600;
                font-size: 3rem;
            }

            h4 {
                font-family: 'Quicksand', sans-serif;
                font-weight: 500;
                font-size: 2.8rem;
            }

            h5 {
                font-family: 'Quicksand', sans-serif;
                font-weight: 500;
                font-size: 2.4rem;
            }

            h6 {
                font-family: 'Quicksand', sans-serif;
                font-weight: 500;
                font-size: 2rem;
            }

        // body

            p, body {
                font-family: 'Inter', sans-serif;
                font-weight: 500;
                font-size: 1.9rem;
            }

            .body-small {
                font-size: 1.8rem;
            }
            
            .body-large {
                font: 2.2rem;
            }

        // caption

            span, .caption {
                font-family: 'Inter', sans-serif;
                font-weight: 500;
                font-size: 1.7rem;
            }

            .caption-small {
                font-size: 1.4rem;
            }

            .caption-large {
                font-size: 2rem;
            }

        // button

            button {
                font-family: 'Quicksand', sans-serif;
                font-weight: 500;
                font-size: 1.9rem;
            }

            .button-small {
                font-size: 1.6rem;
            }

            .button-large {
                font-size: 2.2rem;
            }

        // link

            a {
                font-family: 'Inter', sans-serif;
                font-weight: 400;
                font-size: 2rem;
            }

            .link-small {
                font-size: 1.7rem;
            }

            .link-large {
                font-size: 2.3rem;
            }

        // label

            label {
                font-family: 'Inter', sans-serif;
                font-weight: 300;
                font-size: 1.6rem;
            }

            .label-small {
                font-size: 1.3rem;
            }

            .label-large {
                font-size: 1.9rem;
            }

/* ====== BODY/HTML/ROOT ====== */

:root {
    font-size: 65%;
}

body {
    font-size: 1.8rem;
    color: #fff;
    background-color: $cor-preta-forte;
    width: 100vw;
    height: 100vh;
}

/* ====== HEADER ====== */

header {
    background-color: $cor-preta-escuro;
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
        color: $cor-primaria-clara;
    }

    a {
        transition: 0.5s;
        color: $cor-branca;
        margin: 0 1rem;

        &:hover {
            opacity: 70%;
            cursor: pointer;
        }
    }
}

/* ====== MAIN ====== */

main {
    padding: 2rem;
    margin-top: 17vh;

    h2 {
        color: $cor-primaria-clara;
        text-align: center;
        margin-top: 1rem;
        margin: auto;
        width: 40rem;
        margin-bottom: 1.5rem;
    }

    p {
        text-align: center;
        color: $cor-primaria-clara;
    }

    form {
        background-color: $cor-preta-claro;
        width: 40rem;
        padding: 1rem;
        border-radius: 1rem;
        box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.356);

        h2 {
            color: $cor-branca;
            font-size: 3rem;
        }

        button {
            margin-top: 1rem;
            border-radius: 1rem;
            transition: 0.5s all;
            color: #fff;
            background-color: #5534ba;
            width: 100%;
            padding: 0.7rem;

            &:hover {
                cursor: pointer;
                opacity: 80%;
            }
        }
        
        .campo {
            display: flex;
            flex-direction: column;

            input {
                width: 100%;
                margin: 1rem 0;
                padding: 0.7rem;
                background-color: #303030;
                border: none;
                border-radius: 0.5rem;
                color: #fff;
            }
        }

        .ctr_campo {
            display: flex;
            flex-direction: row;
            justify-content: center;

            .campo {
                flex-direction: row;
                align-items: center;
                margin: 0 0.5rem;

                label {
                    margin-right: 1rem !important;
                }
            }
        }

    }
}

main.main_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ====== FOOTER ====== */

footer {

}
